/* Define a largura dos campos de formulário para garantir que sejam uniformes */
.form-group {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
  margin-left: 10%;
}

.form-field {
  flex-grow: 1;
  margin-right: 10px;
}

.add-button {
  margin-left: 10px;
}


mat-form-field {
  width: 80%;
}


.card-principal {
  text-align: center;
}

input.touched {
  border-color: red;
}

.botoes {
  display: flex;
  justify-content: center;
}

.radio-group {
  display: block;
}
